header {
  #logo {
    margin: 35px 0 40px 20px;
    width: 190px;
  } 
}

.nav-pills > li.active {
	a,
	a:hover,
	a:focus {
		color:black;
		background-color: #2c3e50;
	}
}

.bill-list {
	.nav.nav-pills li {
		a {
			margin: 0 0 20px;
			span {
				color: #bbb;
			}
			&.addBillButton.btn-primary {
				margin: 20px 0 0;
				color: #bbb;
			}
		}
	}
}

.containerAddBill h3 {
	margin: 30px 0 20px;
}

.container.bill-list nav li {
	margin: 0 0 20px;
}

.highlighted {
    background: yellow;
}

/* right column */
#submission {
	.container-anotacions {
		/* display: none !important; */
		display: block !important;
		.filter-panel {
			display: none !important;
		}
	}
	.annotations-list-uoc {
		/* width: 230px; */
		background-color: transparent !important;
		position: static !important;
	}
	.annotations-list-uoc .rotate {
		display: none !important;
	}
	.form-group {
		display: none;
	}

	.annotator-marginviewer-element {
		position: absolute;
		left: 0;
		width: 100% !important;
	}

	.annotator-marginviewer-element {
		position: absolute;
		left: 0;
		width: 100% !important;
	}

	li div{
		&.annotator-marginviewer-text,
		&.annotator-marginviewer-date {
			background-color: transparent;
			border-bottom: none;
			padding-bottom: 0;
			font-size: 15px;
		}

		&.annotator-marginviewer-date {
			line-height: 1;
		} 

		&.annotator-marginviewer-text {
			.hightlight {
				display: none;
			}
			.anotador_text {
				padding: .5em 0 .5em 0.1em;
			}
		}
		&.annotator-marginviewer-footer {
			padding-top: 0;
			background-color: transparent;
		}
		&.annotator-marginviewer-footer .label {
			padding-left: 0;
			border: none;
			font-weight: normal; 
		}
		&.annotator-marginviewer-footer img {
			display: none;
		}
	}

	
}


footer {
	margin: 40px 0 0;
	p {
		margin-left: 20px;
		text-align: right;
	}
}



