#logo {
	margin: 35px 0 40px 20px;
	width: 190px;
}

#submission {
	/* visibility: hidden; */
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color:black;
	background-color: #2c3e50;
}

.bill-list .nav.nav-pills li a {
	margin: 0 0 20px;
}

.bill-list .nav.nav-pills li a span {
	color: #bbb;
}

.bill-list a.addBillButton.btn-primary {
	margin: 20px 0 0;
	color: #bbb;
}

.containerAddBill h3 {
	margin: 30px 0 20px;
}

.container.bill-list nav li {
	margin: 0 0 20px;
}

.container-anotacions {
	/* display: none !important; */
	display: block !important;
}

.container-anotacions .filter-panel {
	display: none !important;
}

.annotations-list-uoc {
	/* width: 230px; */
	background-color: transparent !important;
	position: static !important;
}
.annotations-list-uoc .rotate {
	display: none !important;
}

#submission .form-group {
	display: none;
}

.annotator-marginviewer-element {
	position: absolute;
	left: 0;
	width: 100% !important;
}

li div.annotator-marginviewer-text,
li div.annotator-marginviewer-date {
	background-color: transparent;
	border-bottom: none;
	padding-bottom: 0;
	font-size: 15px;
}

li div.annotator-marginviewer-date {
	line-height: 1;
}

li div.annotator-marginviewer-text .hightlight {
	display: none;
}

li div.annotator-marginviewer-text .anotador_text {
	padding: .5em 0 .5em 0.1em;
}

li div.annotator-marginviewer-footer {
	padding-top: 0;
	background-color: transparent;
}

li div.annotator-marginviewer-footer .label {
	padding-left: 0;
	border: none;
	font-weight: normal;
}
li div.annotator-marginviewer-footer img {
	display: none;
}




footer {
	margin: 40px 0 0;
}

footer p {
	margin-left: 20px;
	text-align: right;
}

.highlighted {
    background: yellow;
}