{% extends "base.html" %}


{% block title %}
  TX {{ bill.session }} - {{ bill.chamber_origin }}.B. {{ bill.number }} |
{% endblock %}


{% load staticfiles %}
{% block page_specific_stylesheets %}
  <link href="{% static "annotatorjs/annotator.min.css" %}" rel="stylesheet" />
  <link href="{% static "./annotatorjs/src/css/style.css" %}" rel="stylesheet" />
  <link href="{% static "css/bill.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="container"><!-- ng-controller="BillController"-->
<div class="row">


  <div class="page-header">
    <h1 id="navbar">
      {% if bill.chamber_origin  == 'S' %}
        Senate
      {% elif bill.chamber_origin == 'H' %}
        House
      {% endif %}

      Bill {{ bill.number }}, Texas Session: {{ bill.session }}
    </h1>
  </div>


  <div class="col-xs-8 row" id="billinfo-group">
    <div class="col-fixed btn-group-vertical">
      <button type="button" id="btn-authors" class="btn btn-primary">
        Authors</button>
      <button type="button" id="btn-subjects" class="btn btn-primary">
        Subjects</button>
    </div>

    <div id="billinfo" class="col-xs-10 col-offset">
      <div class="col-xs-6" id="billinfo-left"></div>
      <div class="col-xs-6" id="billinfo-right"></div>
    </div>
  </div>

  <div class="col-xs-8 billarea"><!-- data-ng-bind-html="bill | highlightText:query"-->
  {{ bill.text|safe }}
  </div>

  <div class="col-xs-4" id="submission">

    {% if annotation_list %} 
      <ul>
        {% for annotation in annotation_list %}
          {% if annotation.text|length > 10  %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text|slice:":10" }}
            </a></li>
          {% else %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text }}
            </a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <!--p>you haven't added any annotations yet!</p-->
    {% endif %}


    <div class="form-group">
      <form action="/addannotation/" method="post" class="form" id="formaddannotation">
        <label for="annotation">Annotation:</label>
        <textarea class="form-control" rows="1" id="annotation"></textarea>
        {% csrf_token %}
        <input type="hidden" name="add_for" value="{{ bill.id }}" />
        <button class="btn" type="submit" id="submitbutton" onClick="submitAnnotation(annotation)">Submit Annotation</button>
      </form>
    </div>

  </div>

</div>
</div>
{% endblock %}


{% block page_specific_scripts %}
<!-- jQuery cookie plugin -->
<script src="{% static "lib/jquery.cookie-1.4.1.min.js" %}" type="text/javascript"></script>
<!-- Annotator JS -->
<script src="{% static "annotatorjs/annotator-full.js" %}" type="text/javascript"></script>
<!-- Annotator Plugins -->
<script src="{% static "annotatorjs/src/view_annotator.js" %}" type="text/javascript"></script>
<script src="{% static "annotatorjs/src/categories.js" %}" type="text/javascript"></script>
<script src="{% static "annotatorjs/lib/tinymce/tinymce.min.js" %}" type="text/javascript"></script>
<script src="{% static "annotatorjs/src/richEditor.js" %}" type="text/javascript"></script>
<!-- Locale for language -->
<script src="{% static "jquery.i18n.min.js" %}" type="text/javascript"></script>
<!-- For show the annotation creation date -->
<script src="{% static "annotatorjs/lib/jquery.dateFormat.js" %}" type="text/javascript"></script>
<!-- File with the translations -->
<script src="{% static "annotatorjs/locale/en/annotator.js" %}" type="text/javascript"></script>
<!-- Scroll panel -->
<script src="{% static "annotatorjs/lib/jquery.slimscroll.js" %}" type="text/javascript"></script>
<!-- Static JS File -->
<script src="{% static "bill.js" %}" type="text/javascript"></script>

<script type="text/javascript">window.bill_id = {{ bill.id }};</script>
{% endblock %}
