<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bill Tracker</title>

  {% load staticfiles %}
  <link href="{% static "lib/bootstrap.css" %}" media="screen" rel="stylesheet" />
  <link href="{% static "css/global.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

  <!-- Page-specific stylesheets -->
  <link href="{% static "css/home.css" %}" rel="stylesheet" />
</head>
<body class="home">

  <div class="banner homeSection">

    <header>

      <div class="container"> 

        <a id="logoText" href="/">
          <img id="logoImage" src="{% static "images/logo-balloon.png" %}"
          alt="Bill Tracker logo" />
          Bill Tra<span class="fixBigKerningGap">c</span>k<span class="fixSmallKerningGap">e</span>r
        </a>

        <ul id="ultraTopNav">
          <li><a href="/about-us.html">About Us</a></li>
          <li><a href="/contact-us.html">Contact Us</a></li>
        </ul>

      </div>

    </header>
  

    <!-- Content -->
    <div class="container bannerContent">
      <div id="page1" class="page">
        <h1>{{ copy }}</h1>

        <form action="/bills/" method="post" class="form">
          <!-- Placeholder for being able to
            select State or National, and Session -->
          <span id="legis-session">Find a bill <em>Texas Session 84R</em></span>

          {% csrf_token %}
          
          <!-- HARDCODE WARNING -->
          <input type="hidden" name="session" value="84R" />

          <div class="formBody">
            <!-- Dropdown to select where the bill originated: Senate or House -->
            <span id="legis-chamber">
              <!-- Senate or House Bill:<br /> -->
              <input type="radio" name="chamber_origin" checked="checked" value="S" id="SB" />
              <label for="SB">Senate Bill</label>
              <input type="radio" name="chamber_origin" value="H" id="HB" />
              <label for="HB">
                House Bill
              </label>
            </span>

            <span id="bill-number">
              <input type="number" id="id_number" name="number" placeholder="Bill Number"
              min="1" autofocus="autofocus" />
            </span>

            <span id="bill-submit">
              <button type="submit" class="btn btn-info">
                <i class="fa fa-pencil"></i>
                &nbsp;Annotate Bill!
              </button>  
            </span>
          </div>

        </form>
      </div>
    </div>

  </div> <!-- .banner -->

  <div class="container marketing homeSection">

    <div class="row tripleIconRow">
      <div class="col-sm-4">
        <i class="fa fa-leanpub"></i>
        <h2>Find Bills</h2>
        <p>Search any bills from the current Texas legislative session.  We can get bills from the Texas Senate or House.  Search by bill number, title or subject.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-pencil"></i>
        <h2>Annotate</h2>
        <p>Draw attention to the parts of bills you think warrant comment.  Highlight bill text you think needs comment or elaboration.  Then add your comment.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-bullhorn"></i>
        <h2>Create Dialog</h2>
        <p>Whether you're a non-profit, a corporation or a concerned citizen, join the dialog around emerging Texas bills and bring transparency to your cause.</p>
      </div>
    </div> <!-- .tripleIconRow -->


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-sm-12">
        <i class="fa fa-comment"></i>
        <p class="lead">
          <span class="featurette-heading">Open Texas legislation. <span class="text-muted">Comment Away.</span></span>
          Bill Tracker is an open community platform for tracking and annotating Texas congressional bills.  Legislation is not only transparent here, but it's open for debate.  This is the agora where interested parties can compare notes, debate and discuss the particulars of proposed legislation which will affect them.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-sm-12">
        <i class="fa fa-connectdevelop"></i>
        <p class="lead leadNegativeMargin">
          <span class="featurette-heading">Crowdsourced Knowledge. <span class="text-muted">Building Community.</span></span>
          Building on the expertise of many, we all grow when we compare notes on the legislation we care about.  We seek to be the favored legislation hub for lawyers, political action committees, corporate representatives and community activists.  When we come together, we become something greater than just the sum of our parts.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-sm-12">
        <i class="fa fa-heartbeat"></i>
        <p class="lead leadNoTopMargin">
          <span class="featurette-heading">Dialog & Transparency. <span class="text-muted">Democracy's Heartbeat.</span></span>
          <i class="quote fa fa-quote-left"></i>The whole purpose of democracy is that we may hold counsel with one another.<i class="quote fa fa-quote-right"></i> &mdash; <strong>Woodrow Wilson</strong>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>

  
  <footer>
    <div class="container">
      <p class="footerPhotoCredit">Texas capitol photo by <a target="_blank" href="https://www.flickr.com/photos/thelukeparker/14170034048/in/photolist-nAa8rS-nbT8E6-nbT3P6">Luke Parker</a>.</p>
      <p class="footerAbout">An <a target="_blank" href="http://atxhackforchange.org/">ATX Hack For Change</a> 2015 project. See our code <a target="_blank" href="https://github.com/bill-tracker/bill-tracker">on Github</a>.</p>
    </div>
  </footer>


  <script src="{% static "lib/jquery-1.10.2.min.js" %}" type="text/javascript"></script>
  <script src="{% static "lib/bootstrap.min.js" %}" type="text/javascript"></script>
  <script src="{% static "global.js" %}" type="text/javascript"></script>
  <!-- <script src="{% static "lib/bootswatch.js" %}"></script> -->

</body>
</html>
