$textBlue: #2c3e50;

.downstream {
 
  h1 {
    font-weight: 700;
    border-bottom: 1px solid $textBlue;
  }

  header { 
    padding: 0 0 20px;
    overflow: hidden;
    background: #1A4C6D;

    a#logoText {
      margin: 50px 0 0;
      font-size: 32px;
      color: #fff;
      display: block;
      font-family: "Arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      float: left;

      // fixes font kerning
      span {
        display: inline-block;
        &.fixBigKerningGap {
          margin-left: -2px;
        }
        &.fixSmallKerningGap {
          margin-left: -1px; 
        }
      }

      &:hover,
      &:active,
      &:visited {
        text-decoration: none;
      }

      /* logo preview from http://graphicriver.net/item/law-talk/7469608 */
      img#logoImage {
        margin: -63px 5px 0 0;
        width: 50px;
      }

      @media (max-width: 480px) {
        font-size: 25px;

        img#logoImage {
          margin: -33px 5px 0 0;
          width: 30px;
        }

      } 
    }

    ul#ultraTopNav {
      margin: 60px 20px 0 0;
      float: right;
      overflow: hidden;

      li {
        list-style: none;
        float: left;

        a {
          margin: 0 0 0 35px;
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

        }
      }
    }

  }

  .mainContent {
    margin-top: 50px;

    p {
      margin-bottom: 21px;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.4;
      @media (min-width: 768px) {
        font-size: 22.5px;
      }
    }

    .imageWithCaption {
      margin:0 15px 20px 0;
      text-align: center;

      img {
        margin: 0 0 5px;
      }

      span.caption {
        padding: 0;
        margin: 0;
        font-size: 100%;
        line-height: 1.25;
        display: inline-block;
      }
    }

  }

  footer {
    padding: 0 0 15px;
    overflow: hidden; 

    p {
      &.footerPhotoCredit {
        float: left;
      }
      &.footerAbout {
        float: right;
      }
      a {
        &:active,
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

}


  /*

  .marketing.homeSection {

    .tripleIconRow {
      padding: 80px 0 50px;

      .col-sm-4 {
        text-align: center;

        i.fa {
        font-size: 150px;
        }
      }
    }

    .featurette {
      padding: 5px 0 30px;

      i.fa {
        margin: 0 20px 0 0;
        font-size: 105px;
        float: left;
        &.fa-connectdevelop {
          font-size: 95px;
        }
      }

      p.lead {
        margin: 12px 0 0;
        &.leadNoTopMargin {
          margin: 4px 0 0;
        }
        &.leadNegativeMargin {
          margin: -8px 0 0;
        }

        span.featurette-heading {
          padding: 3px 0 0;
          margin: 0 0 4px;
          font-size: 27px;
          display: block;
        }

        .quote {
          font-size: 25px;
          font-weight: bold;
          margin: -4px 6px 0 6px;
          float: none;
          display: inline-block;;
        }

      }
    }

    hr.featurette-divider {
      margin: 21px 0 30px;
    }

  }



*/


