header {
  #logo {
    margin: 35px 0 40px 20px;
    width: 190px;
  } 
}

.nav-pills > li.active {
	a,
	a:hover,

	a:focus {
		color:black;
		background-color: #2c3e50;
	} 
} 

.bill-list {
	.nav.nav-pills li { 
		a {
			margin: 0 0 20px;

			span {
				color: #bbb;
			}

			&.addBillButton.btn-primary {
				margin: 20px 0 0;
				color: #bbb;
			}
		}
	}
}

.containerAddBill h3 {
	margin: 30px 0 20px;
}

.container.bill-list nav li {
	margin: 0 0 20px;
}

/* Search-specific */
.highlighted {
  background: white;
}

footer {
	margin: 40px 0 0;

	p {
		margin-left: 20px;
		text-align: right;
	}
}
