.home {

  @media (max-width: 480px) {
    #logo {
      margin: 35px auto 0; 
      display: block;
    } 
  }

  .banner {
    height: 570px;
    background: url('../images/thelukeparker-14170034048.jpg') 50% 50% / cover no-repeat;

    #page1 {
      text-align: center;
      color: #fff;
    }

    h1 {
      margin: 21px auto 31px;
      width: 70%;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 1.2;
      }

      @media (max-width: 480px) {
        font-size: 21px;
        line-height: 1.2;
      }

    }

  }

  form {
    margin: 0 auto;
    width: 70%;
    background: #ccc;

    #legis-session {
      padding: 10px;
      display: block;
      background: #18bc9c;
      color: #fff;
      font-size: 25px;
      
      em {
        display: block;
        font-size: 12px;
        font-style: normal;
      }

    }

    .formBody {
      margin-left: 5px;
      margin-right: 5px;       

      #legis-session,
      #legis-chamber {
        font-size: 15pt;
      }

      #bill-number, 
      #bill-submit {
        position: relative;
        bottom: 35px;
      }

      #legis-chamber {
        display: inline-block;
        margin: 0 10px;

        label:first-of-type {
          margin-top: 5px;
        }
      }

      label {
        font-weight: normal;
      }

      #bill-number {
        color: black;
      }

    }

  }

}
